<!DOCTYPE html>

<html>

    <head>
    	<title>WorldChanger - Change your world now!</title>

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
		<link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" rel="stylesheet" type="text/css">

        <script src="assets/javascripts/vendor/jquery-2.0.3.min.js"></script>
        <script src="assets/javascripts/vendor/prismic.io.js"></script>
        <script src="assets/javascripts/common.js"></script>
        <script src="assets/javascripts/blog.js"></script>
        <script src="assets/javascripts/vendor/bootstrap.min.js"></script>

	  	<link rel="stylesheet" type="text/css" href="assets/stylesheets/bootstrap.min.css">
	  	<link rel="stylesheet" type="text/css" href="assets/stylesheets/styles.css">
	  	<link rel="stylesheet" type="text/css" href="assets/stylesheets/application.css">

    </head>

    <body>
    	<div class="wrapper">
			
		    <header class="navbar navbar-worldchanger" role="navigation">
		        <div class="container">

		        	<div class="navbar-header">
		        		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-navbar">
		        			<span class="sr-only">Toggle navigation</span>
		        			<span class="icon-bar"></span>
		        			<span class="icon-bar"></span>
		        			<span class="icon-bar"></span>
	        			</button>
        				<a class="navbar-brand" href="/">WorldChanger</a>
	        		</div>

	        		<div class="navbar-collapse collapse" id="top-navbar">
		        		<ul class="nav navbar-nav navbar-right">
				          	<li><a href="/">Home</a></li>
				          	<li><a href="/tour.html">Product tour</a></li>
				          	<li><a href="/pricing.html">Pricing</a></li>
				          	<li><a href="/faq.html">FAQ</a></li>
				          	<li><a href="/about.html">About us</a></li>
				          	<li class="active"><a href="/blog.html">Blog</a></li>
				        </ul>
		        	</div>
		        </div>
	       	</header>

	       	<div class="container">
	       	</div>

	       	<!--<div class="container">
				<div id="blog-nav" class="row">
					<div class="col-md-offset-9 col-md-3 blog-search">
						<%= render partial blogsearch %>
					</div
				</div>
			</div>-->

	       	<article id="blog-list">
	       		<script type="text/template">
				
	       		<div class="container">

					<% if (documents.length == 0) { %>
						<div class="empty">
							<h3>No document matches your search. Search again?</h3>
						</div>
					<% }; %>

					<% documents.forEach(function (doc) { %>
						<% console.log(ctx.linkResolver(ctx, doc)); %>
						<a href="/index.html" class="row blog-post">
							<div class="col-md-3 image">
								<p>
									<%= doc.getImage('blog.image') && doc.getImage('blog.image').views.medium ? doc.getImage('blog.image').views.medium.asHtml(ctx) : '' %>
								</p>
							</div>
							<div class="col-md-9 preview">
								<h2>
									<%= doc.getStructuredText('blog.body').getTitle().text %>
								</h2>
								<p class="date">
									On <%= doc.getDate('blog.date') ? doc.getDate('blog.date').value : '' %>
								</p>
								<%= doc.getStructuredText('blog.shortlede') ? doc.getStructuredText('blog.shortlede').asHtml(ctx) : '' %>
							</div>
						</a>
					<% }); %>

				</div>

	    		</script>
	       	</article>

	       	<div class="footer-container">
	       		<footer class="container">
	       			<p>
	       				WorldChanger is an example website to be used freely on top of the 
	       				<a href="http://prismic.io">prismic.io</a>
	       				writing-room and content query API.
	       			</p>
	       			<p>
	       				<a href="/signin">Sign in to preview changes</a>
	       			</p>
	       		</footer>
	       	</div>
		
	    </div>
	</body>

</html>

			

 








				