<!DOCTYPE html>

<html>

    <head>
    	<title>WorldChanger - Change your world now!</title>

    	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
		<link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" rel="stylesheet" type="text/css">

        <script src="assets/javascripts/vendor/jquery-2.0.3.min.js"></script>
        <script src="assets/javascripts/vendor/prismic.io.js"></script>
        <script src="assets/javascripts/common.js"></script>
        <script src="assets/javascripts/tour.js"></script>
        <script src="assets/javascripts/vendor/bootstrap.min.js"></script>

	  	<link rel="stylesheet" type="text/css" href="assets/stylesheets/bootstrap.min.css">
	  	<link rel="stylesheet" type="text/css" href="assets/stylesheets/styles.css">
	  	<link rel="stylesheet" type="text/css" href="assets/stylesheets/application.css">

    </head>

    <body>
    	<div class="wrapper">

    		<div id="menu"></div>

			<article id="tour">
				<script type="text/template">

				<div class="container">

					<div class="page-title">
						<%= tour.getStructuredText("article.title") ? tour.getStructuredText("article.title").asHtml(ctx) : '' %>
						<%= tour.getStructuredText("article.lede") ? tour.getStructuredText("article.lede").asHtml(ctx) : '' %>
					</div>

				</div>

<% /* *********************************************************************************************************************** */ %>

				<%
				var list = [];

                args.forEach(function (arg, i) {
                	if (!!arg.getImage("argument.photo")) {
                		list[0] = arg;
                	}
                	else {
                		if (!!arg.getImage("argument.panoramaphoto")) {
	                		list[3] = arg;
	                	}
                		else {
                			if (i!=0 && i!=3) {
                				list[i] = arg;
                			}
                		}
                	}
                });
				%>

				<% /* image principale */ %>

				<div id="<%= list[0].id %>" class="large-image large-bright-image container">
					<style type="text/css">
						#<%= list[0].id %> {background-image: url(<%= list[0].getImage("argument.photo").views.large.url %>)}
						@media (max-width: 992px) {
							#<%= list[0].id %> {background-image: url(<%= list[0].getImage("argument.photo").views.medium.url %>)}
						}
						@media (max-width: 500px) {
							#<%= list[0].id %> {background-image: url(<%= list[0].getImage("argument.photo").views.small.url %>)}
						}
					</style>
					<div class="row">
						<div class="col-sm-5 col-sm-offset-7">
							<h2> <%= list[0].getStructuredText("argument.title") ? list[0].getStructuredText("argument.title").getTitle().text : '' %> </h2>
							<%= list[0].getStructuredText("argument.catcher_description") ? list[0].getStructuredText("argument.catcher_description").asHtml(ctx) : '' %>
						</div>
					</div>
				</div>

				<% /* les 2 arguments suivants l'image principale */ %>

				<div class="container"><div class="row">

					<div id="<%= list[1].id %>" class="half-regular col-sm-5 col-sm-offset-1">
						<img class="icon" src="<%= list[1].getImage('argument.icon') && list[1].getImage('argument.icon').views.small ? list[1].getImage('argument.icon').views.small.url : '' %>">
						<h2><%= list[1].getStructuredText('argument.title') ? list[1].getStructuredText('argument.title').getTitle().text : '' %></h2>
						<%= list[1].getStructuredText('argument.description') ? list[1].getStructuredText('argument.description').asHtml(ctx) : '' %>

					</div>

					<div id="<%= list[2].id %>" class="half-regular col-sm-5 col-sm-offset-1">
						<img class="icon" src="<%= list[2].getImage('argument.icon') && list[2].getImage('argument.icon').views.small ? list[2].getImage('argument.icon').views.small.url : '' %>">
						<h2><%= list[2].getStructuredText('argument.title') ? list[2].getStructuredText('argument.title').getTitle().text : '' %></h2>
						<%= list[2].getStructuredText('argument.description') ? list[2].getStructuredText('argument.description').asHtml(ctx) : '' %>
					</div>

				</div></div>

				<% /* image panorama photo */ %>
				
				<div id="<%= list[3].id %>" class="large-image large-dark-image">
					<style type="text/css">
						#<%= list[3].id %> {background-image: url(<%= list[3].getImage('argument.panoramaphoto').views.large.url %>)}
						@media (max-width: 992px) {
							#<%= list[3].id %> {background-image: url(<%= list[3].getImage('argument.panoramaphoto').views.medium.url %>)}
						}
						@media (max-width: 500px) {
							#<%= list[3].id %> {background-image: url(<%= list[3].getImage('argument.panoramaphoto').views.small.url %>)}
						}
					</style>
					<div class="container">
						<h2><%= list[3].getStructuredText('argument.title') ? list[3].getStructuredText('argument.title').getTitle().text : '' %></h2>
						<%= list[3].getStructuredText('argument.description') ? list[3].getStructuredText('argument.description').asHtml(ctx) : '' %>
					</div>
				</div>

				<% /* les 2 arguments suivants l'image panorama photo */ %>
				
				<div class="container">
					<div class="row regular-panels">
						<div id="<%= list[4].id %>" class="regular-panel col-sm-6">
							<h2><%= list[4].getStructuredText('argument.title') ? list[4].getStructuredText('argument.title').getTitle().text : '' %></h2>
							<%= list[4].getStructuredText('argument.description') ? list[4].getStructuredText('argument.description').asHtml(ctx) : '' %>
						</div>
						<div id="<%= list[5].id %>" class="regular-panel col-sm-6">
							<h2><%= list[5].getStructuredText('argument.title') ? list[5].getStructuredText('argument.title').getTitle().text : '' %></h2>
							<%= list[5].getStructuredText('argument.description') ? list[5].getStructuredText('argument.description').asHtml(ctx) : '' %>
						</div>
						
					</div>
				</div>

				<% /* les autres arguments */ %>

				<% for (var i = 6; i < list.length ; i++) { %>

					<div id="<%= list[i].id %>" class="container regular" style="background-image: url('<%= list[i].getImage('argument.icon') && list[i].getImage('argument.icon').views.small ? list[i].getImage('argument.icon').views.small.url : '' %>')">
						<h2><%= list[i].getStructuredText('argument.title') ? list[i].getStructuredText('argument.title').getTitle().text : '' %></h2>
						<%= list[i].getStructuredText('argument.description') ? list[i].getStructuredText('argument.description').asHtml(ctx) : '' %>
					</div>
				<% }; %>
	 
<% /* *********************************************************************************************************************** */ %>
				<% /* bas de page avec le prix minimum */ %>

				<div id="minimumplans"></div>

				</script>
			</article>

			<div id="footer"></div>     	

	    </div>
	</body>

</html>

